localhost ansible_connection=local
#localhost ansible_ssh_user=root ansible_ssh_pass=password

[bahmni-emr-db-slave]

[bahmni-emr-db]
localhost

[bahmni-emr]
localhost

[bahmni-reports]

[bahmni-erp-db]

[bahmni-erp-db-slave]

[bahmni-erp]

[bahmni-lab-db]

[bahmni-lab-db-slave]

[bahmni-lab]

[bahmni-pacs]

[dcm4chee]

[local:children]
bahmni-emr
bahmni-emr-db
bahmni-emr-db-slave
bahmni-lab
bahmni-lab-db
bahmni-lab-db-slave
bahmni-erp
bahmni-erp-db
bahmni-erp-db-slave
bahmni-reports
bahmni-pacs
dcm4chee

